<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Catan Dice Roller that smudges probability to make the results better distributed">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <!-- For iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- For Android Chrome -->
    <meta name="theme-color" content="#000000">

    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#000000">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Catan Probability Smudger</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile.css') }}" media="(max-width: 768px)">

    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
  </head>

  <body>
    <div class="fullBody">
      {% include 'navbar.html' %}
      <div class="mainBody">
        {% include 'newGameModal.html' %}
        {% include 'endGameModal.html' %}
        {% include 'howItWorksModal.html' %}
        <div id="textOutputDiv" class="textOutputDiv">
          <div class="mainRollDiv">
            <div id="playerBoardDiv">
              <h2 id="player-text" class="text-center" style="font-size: 3rem">
              </h1>
              <div class="dice_row">
                <div class="dice_image" id="die1"></div>
                <div class="dice_image" id="die2"></div>
                <div class="dice_image" id="die3"></div>
              </div>
            </div>
            <div id="barbBoardDiv">
              <!-- <img id="barbBoard" src="{{ url_for('static', filename='Barb1.png') }}" alt="Dice Image" height="100%"/> -->
            </div>
          </div>
          <div id="probDist"></div>
          <div class="timeDisplayDiv">
            <h2 id="time-text" class="text-center" style="display: none; margin-right: 1rem; width: 50%"></h2>
            <h2 id="avg-time-text" class="text-center" style="display: none; width: 50%"></h2>
          </div>
        </div>

        <button id="buttonReveal" class="btn btn-primary d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">▲</button>

        {% include 'mobileButtonContainer.html' %}

        {% set extra_class = "d-none d-md-flex" %}
        {% include 'buttonContainer.html' %}


      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='gameLogic.js') }}"></script>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/static/sw.js').then(function (registration) {
          console.log('ServiceWorker registered:', registration);
        }).catch(function (error) {
          console.log('ServiceWorker failed:', error);
        });
      }
    </script>
  </body>
</html>
