<nav class="navbar fixed-top" style="font-size: 1.5rem;">
  <div class="container-fluid">
    <!-- Left Page Title -->
    <a class="navbar-brand" style="font-size: 1.5rem">Catan Probability Smudger</a>

    <!-- Right Page Title -->
    <ul class="navbar-nav d-flex flex-row align-items-center">
      <li class="nav-item me-3">
        <a class="nav-link py-2" id="newGameBtn" style="cursor: pointer;">New Game</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link py-2" href="#">How It Works</a>
      </li>
    </ul>
  </div>
</nav>