<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">New Game Setup</h5>
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="new-game-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Player 1</label>
                                <input type="text" class="form-control" name="player1" placeholder="Enter player 1 name" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Player 2</label>
                                <input type="text" class="form-control" name="player2" placeholder="Enter player 2 name" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Player 3</label>
                                <input type="text" class="form-control" name="player3" placeholder="Enter player 3 name" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Player 4</label>
                                <input type="text" class="form-control" name="player4" placeholder="Enter player 4 name" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Player 5</label>
                                <input type="text" class="form-control" name="player5" placeholder="Enter player 5 name" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Player 6</label>
                                <input type="text" class="form-control" name="player6" placeholder="Enter player 6 name" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="form-check mt-3">
                        <input type="checkbox" class="form-check-input" id="citiesKnights" name="citiesKnights">
                        <label class="form-check-label" for="citiesKnights">Play with Cities and Knights?</label>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="submit" form="new-game-form" class="btn btn-success">Start Game</button>
            </div>
        </div>
    </div>
</div>
  