<button class="btn btn-primary large-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false" style="height: 15%; font-size: 2rem">
    Game Options
</button>
<div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
    <div class="form-group mb-3">
        <input type="checkbox" class="form-check-input" id="toggleDist">
        <label class="form-check-label" for="toggleDist">
            Show distribution
        </label>
    </div>
    <div class="form-group mb-3">
        <input type="checkbox" class="form-check-input" id="toggleTime1">
        <label class="form-check-label" for="toggleTime1">
            Show current time
        </label>
    </div>
    <div class="form-group mb-3">
        <input type="checkbox" class="form-check-input" id="toggleTime2">
        <label class="form-check-label" for="toggleTime2">
            Show time averages
        </label>
    </div>
    <!-- <div class="form-group mb-3">
        <input type="checkbox" class="form-check-input" id="toggleAnimations">
        <label class="form-check-label" for="toggleAnimations">
            Show animations
        </label>
    </div>
    <div class="form-group mb-3">
        <input type="checkbox" class="form-check-input" id="toggleHist">
        <label class="form-check-label" for="toggleHist">
            Show history
        </label>
    </div>
    <div class="form-group mb-3">
        <input type="checkbox" class="form-check-input" id="toggleColors">
        <label class="form-check-label" for="toggleColors">
            Show colors
        </label>
    </div> -->
</div>

<!-- Show Dist, current time, total times, history, colors, animations,  -->